.body{
  color:#576071;
}
.wy-nav-content{
  max-width: 100%;
}
a{
  color:#ffaa00
}
a:hover{
  color: #ffcc66;
}
a:visited{
  color:#cc8800
}
p{
  margin: 0 0 15px
}
.wy-nav-side{
  background:#a9a9a9;
}
.wy-side-nav-search{
  background-color:#f8f8f8;
}
.wy-side-nav-search img {
  display: inline;
  background-color:#e8ecf3;
}
.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
  color:#576071;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color:#BAD7FF;
  text-decoration: underline;
}
.wy-menu-vertical a {
  color:white;
}
.wy-nav-side l1:hover{
  background:#ffaa00;
}
.wy-nav-side a:visited{
  color: white;
}
/* project name above logo in the upper left corner */
.wy-side-nav-search a:visited{
  color: #969696;
}
.wy-menu-vertical a:hover{
  background-color:#ffaa00;
}
.wy-menu-vertical a:visited{
  background-color:#ffaa00;
}
.wy-menu-vertical li.current a:hover{
  background:#ffbb33;
}
.wy-menu-vertical li.current {
  background:#e4e4e4;
}
.wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background:#eeeeee;
}
.wy-menu-vertical li.toctree-l2.current>a:hover, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover {
  background:#ffcc66;
}
.wy-menu-vertical li.toctree-l3.current>a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
  background: #f8f8f8;
}
.wy-menu-vertical li.toctree-l3.current>a:hover, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a:hover {
  background: #ffdd99;
}
a.icon-home img.logo {
  width: 126;
  height: 51;
}
/* title text color */
.rst-content .toctree-wrapper>p.caption, h3, h4, h5, h6, legend {
  margin-bottom: 3px;
  color: #969696;
}
.rst-content .toctree-wrapper>p.caption, h2 {
  color: #8c8c8c;
}
.rst-content .toctree-wrapper>p.caption, h1 {
  color: #828282;
}
.rst-content dl dd {
  margin: 0px;
}